PORT=3000
DATABASE_URL=postgresql://user:password@host:5432/dbname?sslmode=require
JWT_SECRET=your-secret-here
ALLOWED_ORIGINS=http://localhost:5173,https://lucro-theta.vercel.app,https://lucro.onrender.com/
AUTH_DEBUG=false

# Usado apenas no provisionamento manual inicial de admin:
# npm run provision:admin
ADMIN_EMAIL=carlitodopalito@gmail.com
ADMIN_PASSWORD=v9sM0bPcnnkv288Um022C1
ADMIN_NAME=Administrador
